<form action="/submitForm" method="POST" style="border: 2px solid red; border-radius: 9px;">
    <label for="username">Username</label><br>
    <input type="text" name="username"><br><br>
    <label for="email">Email</label><br>
    <input type="email" name="email"><br><br>
    <label for="password">Password</label><br>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Sign-Up">
</form>